---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import Pricing from '~/components/widgets/Pricing.astro';
import signals from '~/content/abc';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Vocabulario LESCO',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Dicc. CENAREC',
          href: 'https://lesco.cenarec.go.cr/index.php/diccionariolesco',
        },
        {
          variant: 'primary',
          text: 'Dicc. HANDS-ON LESCO',
          href: 'https://diccionario.handsonlesco.com/',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="LESCO"
    actions={[
      { text: 'Comencemos', href: '#features' },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      Conoce un poco del vocabulario <span class="text-accent dark:text-white highlight"
        >LESCO</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Aqui puedes conocer algunos señas básicas de la Lengua de Señas Costarricense <span class="font-semibold">LESCO</span>, la lengua natural de las personas sordas en Costa Rica.</span
      >
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->
  <Features
    id="features"
    title="¿Por qué aprender LESCO?"
    subtitle="Recuerda que LESCO es parte de nuestra cultura."
    columns={2}
    items={[
      {
        title: 'Comunicarte con personas sordas',
        description:
          ' Aprender LESCO te permitirá comunicarte de forma natural y fluida con personas sordas, rompiendo las barreras de comunicación y creando una conexión más profunda.',
        icon: 'tabler:heart-handshake',
      },
      {
        title: 'Enriquecer tu vida',
        description: `Aprender una nueva lengua siempre es enriquecedor, y LESCO te abrirá las puertas a una nueva cultura y comunidad.`,
        icon: 'tabler:user-star',
      },
      {
        title: 'Ser más inclusivo',
        description:
          'La inclusión es fundamental para construir una sociedad más justa y equitativa. Aprender LESCO te permitirá contribuir a la inclusión de las personas sordas en todos los ámbitos de la vida.',
        icon: 'tabler:mood-heart',
      },
      {
        title: 'Desarrollar la empatía',
        description: `Aprender LESCO te permite ponerte en el lugar de las personas sordas y comprender mejor sus necesidades.`,
        icon: 'tabler:ear',
      },
    ]}
  />

  <!-- Content Widget **************** -->
  <div id="signals">
    {signals.map((signal, index) => (
      <Content
        key={signal.letter}
        title={index === 0 ? 'LESCO ABC' : ''}
        isReversed={index % 2 !== 0}
        isAfterContent={index > 0 == true}
        items={[
          {
            title: 'Proceso:',
            description: signal.procedure,
          },
        ]}
        image={{
          src: signal.imageSrc,
          alt: signal.imageAlt,
        }}
      >
        <Fragment slot="content">
          <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
            La seña {signal.letter}
          </h3>
        </Fragment>
        <Fragment slot="bg">
          <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
        </Fragment>
      </Content>
    ))}
  </div>

  <!-- Content Widget **************** -->

  <!-- Pricing Widget ******************* 

  <Pricing
    title="Flexible pricing plans"
    prices={[
      {
        title: 'free',
        subtitle: 'Access to core features and a wide range of templates',
        price: '0',
        period: '/ month',
        callToAction: {
          target: '_blank',
          text: 'Get Started for Free',
          href: '#',
        },
      },
      {
        title: 'pro',
        subtitle: 'Premium templates and advanced customization',
        price: 15,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Upgrade to Pro',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'Enterprise',
        subtitle: 'Tailored solutions for large-scale projects',
        price: 45,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Unlock Enterprise Features',
          href: '#',
        },
      },
    ]}
  />-->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas frecuentes sobre LESCO"
    items={[
      {
        title: '¿Puedo usar LESCO para comunicarme con personas sordas de otros países?',
        description:
          'Las lenguas de señas son idiomas independientes y tienen variaciones regionales.  LESCO es específica de Costa Rica, por lo que puede tener diferencias con las lenguas de señas de otros países. Sin embargo, las lenguas de señas comparten estructuras y gestos básicos que pueden permitir una comunicación inicial.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Qué nivel de conocimiento es necesario para aprender LESCO?',
        description: `Si bien es útil tener algunos conocimientos básicos de gramática y estructura de las lenguas de señas, existen recursos para principiantes que te permiten aprender señas básicas y expresiones cotidianas sin necesidad de un gran bagaje teórico. A medida que avanzas, puedes profundizar en aspectos más complejos de la lengua.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Hay cursos o recursos disponibles para aprender LESCO?',
        description:
          '¡Sí! Existen diferentes opciones para aprender LESCO. Puedes encontrar cursos presenciales en centros o asociaciones de personas sordas, plataformas online con tutoriales y ejercicios, o incluso aplicaciones móviles para practicar.',
          icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Existen organizaciones que promuevan el uso de LESCO?',
        description: `Sí, en Costa Rica existen diversas asociaciones y organizaciones sin fines de lucro que trabajan para promover el uso de LESCO, la inclusión de las personas sordas en la sociedad y la defensa de sus derechos.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >

  </FAQs>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Contáctanos"
    subtitle="¿Tiene preguntas? No dude en contactarnos utilizando el siguiente formulario. ¡Estamos aquí para ayudar!"
    callToAction={{
      text: 'Contáctanos',
      href: '/contact',
    }}
    items={[
      {
        title: 'Correo',
        description: 'lescotranslator@gmail.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Telefono',
        description: '+507 7190-3969',
        icon: 'tabler:headset',
      },
      {
        title: 'Síguenos',
        description: '@visionlescot',
        icon: 'tabler:brand-twitter',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Conoce sobre LESCO y nuestro proyecto"
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
