---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
//import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Nuestro equipo',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <!--<Fragment slot="header">
   <Header
      links={[
        { text: 'Inicio', href: '#' },
        { text: 'SAG', href: '#SAG' },
        { text: 'SAP', href: '#SAP' },
        { text: 'AGM', href: '#AGM' },
        { text: 'MSP', href: '#MSP' },
        { text: 'Nuestras habilidades', href: '#habilidades' },
      ]}
      actions={[
        {
          text: 'Bitácora',
          href: 'https://docs.google.com/document/d/1Hxc8AN_Jazl7ty1PhKYLaaY7R1G3iFdGMxWRrWoW9kk/edit',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment> -->

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Conoce a nuestro equipo"
    tagline="EQUIPO LESCOT"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: '@visionlescot',
        href: 'https://www.instagram.com/visionlescot',
        icon: 'tabler:brand-instagram',
      },
    ]}
  >
    <Fragment slot="subtitle">
      El equipo de LESCOT se encuentra formado por 4 estudiantes de la especialidad técnica Electrónica Industrial,
      quienes se encuentran en su penúltimo año de formación en el Colegio Técnico Profesional Don Bosco.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="SAG"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-instagram',
        callToAction: {
          target: '_blank',
          text: '@Stevenalp_cr',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-twitter',
        callToAction: {
          target: '_blank',
          text: 'StevenAlp_CR',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'Stevenalp207',
          href: '#',
        },
      },
    ]}
    image={{
      src: '~/assets/images/steven.jpg',
      alt: 'Steven Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Steven Alexander Alpízar Gamboa
      </h2>
      <p>
        Me encanta la electrónica y formo parte de la banda de CEDES Don Bosco. Soy una persona aplicada y responsable,
        amo la programación. Además, tengo el honor de liderar el proyecto LESCOT. Deseo ser un ingeniero
        electromecanico.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
<!-- suss **************** -->
  <Content
    isReversed
    id="SAP"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-dribbble',
        callToAction: {
          target: '_blank',
          text: 'Dribbble',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-behance',
        callToAction: {
          target: '_blank',
          text: 'Behance',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-pinterest',
        callToAction: {
          target: '_blank',
          text: 'Pinterest',
          href: '#',
        },
      },
    ]}
    image={{
      src: 'https://github.com/LESCOT-EXPO-2024/LESCOT-WEB/assets/144076399/184f802b-6783-4d3f-b35c-c19bcd8cc348',
      alt: 'SUSSETH IMAGE',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Susseth Alán Perez</h2>
      <p>Aqui va la descripcion
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
<!-- alejandro **************** -->
  <Content
    id="AGM"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-dribbble',
        callToAction: {
          target: '_blank',
          text: 'Dribbble',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-behance',
        callToAction: {
          target: '_blank',
          text: 'Behance',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-pinterest',
        callToAction: {
          target: '_blank',
          text: 'Pinterest',
          href: '#',
        },
      },
    ]}
    image={{
      src: 'https://github.com/LESCOT-EXPO-2024/LESCOT-WEB/assets/144076399/84922e48-bf52-40b0-bf2b-14937ca355d4',
      alt: 'ALEJANDRO IMAGE',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Alejandro Guzmán Mata</h2>
      <p>Soy una persona responsable y amable, que acepta los desafíos y que tiene deseos por superarse a sí mismo, así como también me encanta aprender de las cosas que me interesan y gustan. Me apasiona la electrónica y es lo que me gustaria trabajar en un futuro como profesional.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
<!-- mariana **************** -->
  <Content
    isReversed
    id="MSP"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-dribbble',
        callToAction: {
          target: '_blank',
          text: 'Dribbble',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-behance',
        callToAction: {
          target: '_blank',
          text: 'Behance',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-pinterest',
        callToAction: {
          target: '_blank',
          text: 'Pinterest',
          href: '#',
        },
      },
    ]}
    image={{
      src: 'https://github.com/LESCOT-EXPO-2024/LESCOT-WEB/assets/144076399/afb02bf8-e0f1-4030-bb01-93d1e09740f1',
      alt: 'MARIANA IMAGE',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Mariana Segura Piedra</h2>
      <p>Aqui va la descripcion
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <!-- Steps Widget ****************** 

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Graphic Designer <br /> <span class="font-normal">ABC Design Studio, New York, NY</span> <br /> <span class="text-sm font-normal">2021 - Present</span>',
        description: `Collaborate with clients to understand design requirements and objectives. <br /> Develop branding solutions, including logos, color palettes, and brand guidelines. <br /> Design marketing materials such as brochures, posters, and digital assets. <br /> Create visually appealing user interfaces for websites and applications.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Junior Graphic Designer <br /> <span class="font-normal">XYZ Creative Agency, Los Angeles, CA</span> <br /> <span class="text-sm font-normal">2018 - 2021</span>',
        description: `Assisted senior designers in creating design concepts and visual assets. <br /> Contributed to the development of brand identities and marketing collateral. <br /> Collaborated with the marketing team to ensure consistent design across campaigns. <br /> Gained hands-on experience in various design software and tools.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />-->

  <!-- Steps Widget ****************** 

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Master of Fine Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2018 - 2020</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Bachelor of Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2014 - 2018</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />-->

  <!-- Features3 Widget ************** -->

  <Features3
    id="habilidades"
    title="Habilidades"
    subtitle="Descubre sobre las diferentes habilidades obtenidas en el desarrollo de LESCOT."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Trabajo en equipo',
        description:
          'Capacidad para colaborar efectivamente con otros miembros del equipo para lograr objetivos comunes y resolver problemas de manera conjunta.',
      },
      {
        title: 'Lenguage de programación Python',
        description:
          'Habilidad para desarrollar aplicaciones y soluciones utilizando el lenguaje de programación Python, conocido por su simplicidad y versatilidad en una amplia gama de proyectos.',
      },
      {
        title: 'Inteligencia Artificial',
        description:
          'Experiencia en la creación de sistemas informáticos que pueden realizar tareas que normalmente requieren inteligencia humana, como reconocimiento de voz, procesamiento de imágenes y toma de decisiones autónoma.',
      },
      {
        title: 'Machine learning',
        description:
          'Destreza en el desarrollo de algoritmos y modelos que permiten a las computadoras aprender y mejorar automáticamente a partir de la experiencia, sin necesidad de ser programadas explícitamente para cada tarea.',
      },
      {
        title: 'Sistemas de Visión Artificial',
        description:
          'Competencia en el diseño e implementación de sistemas que permiten a las máquinas "ver" y comprender el entorno utilizando cámaras y sensores, con aplicaciones en reconocimiento de objetos, navegación autónoma y más.',
      },
      {
        title: 'Ciencia de datos',
        description:
          'Proficiencia en el análisis y visualización de datos para extraer información significativa y tomar decisiones informadas en una variedad de campos, desde negocios hasta ciencias sociales.',
      },
      {
        title: 'Gestión de proyectos',
        description:
          'Conocimiento en la planificación, organización y ejecución de proyectos para lograr objetivos específicos dentro de plazos y presupuestos establecidos, asegurando la coordinación efectiva de recursos y equipos.',
      },
      {
        title: 'Sensibilidad cultural y social',
        description:
          'Sensibilidad y comprensión de las diferencias culturales y sociales, lo que permite trabajar de manera inclusiva y considerar las necesidades y perspectivas de diversas comunidades y grupos de usuarios.',
      },
      {
        title: 'Comunicación acertiva',
        description:
          'Habilidad para expresar ideas de manera clara, concisa y persuasiva, tanto verbalmente como por escrito, facilitando una comunicación efectiva con colegas, clientes y otras partes interesadas.',
      },
    ]}
  />

  <!-- Content Widget **************** 

  <Content
    id="porfolio"
    title="Elevating visual narratives"
    subtitle="Embark on a design journey that surpasses pixels, entering a realm of imagination. Explore my portfolio, where passion and creativity converge to shape enthralling visual narratives."
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'Developed a comprehensive brand identity for a tech startup, Tech Innovators, specializing in disruptive innovations. The goal was to convey a modern yet approachable image that resonated with both corporate clients and tech enthusiasts.',
      },
      {
        title: 'Role:',
        description:
          'Led the entire branding process from concept to execution. Created a dynamic logo that symbolized innovation, selected a vibrant color palette, and I designed corporate stationery, website graphics, and social media assets.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1658248165252-71e116af1b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 1: <br /><span class="text-2xl">Brand identity for tech innovators</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>-->

  <!-- Content Widget **************** 

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          'Designed a captivating event poster for an art and music festival, "ArtWave Fusion," aiming to showcase the synergy between visual art and music genres.',
      },
      {
        title: 'Role:',
        description: `Translated the festival's creative theme into a visually striking poster. Used bold typography, vibrant colors, and abstract elements to depict the fusion of art and music. Ensured the design captured the festival's vibrant atmosphere.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Art and Music Poster Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 2: <br /><span class="text-2xl">Event poster for art & music festival</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>-->

  <!-- Content Widget **************** 

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Redesigned the e-commerce website for an eco-conscious fashion brand, GreenVogue. The objective was to align the brand's online presence with its sustainable ethos and improve user experience.`,
      },
      {
        title: 'Role:',
        description: `Conducted a thorough analysis of the brand's values and customer base to inform the design direction. Created a visually appealing interface with intuitive navigation, highlighting sustainable materials, and integrating a user-friendly shopping experience.`,
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1683288295841-782fa47e4770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 3: <br /><span class="text-2xl">E-commerce website redesign for fashion brand</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>-->

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Opiniones del proyecto"
    subtitle="Descubre alguna de las opiniones recibidas en EXPOTEC 2023."
    testimonials={[
      {
        testimonial: `El proyecto LESCOT es una contribución invaluable para cerrar la brecha de comunicación entre personas sordas y oyentes en Costa Rica. Es una solución innovadora y muy necesaria que tiene el potencial de mejorar significativamente la calidad de vida de las personas con discapacidad auditiva.`,
        name: 'Visitante en EXPOTEC 2023',
        job: 'Anónimo',
        image: {
          src: 'https://github.com/LESCOT-EXPO-2024/LESCOT-WEB/assets/144076399/871fb2fa-c4e1-4000-848b-2c8de122d9b4',
          alt: 'Anonimo Image',
        },
      },
      {
        testimonial: `Como persona que habla LESCO, veo el proyecto LESCOT como una herramienta revolucionaria que puede transformar la manera en que las personas con discapacidad auditiva se comunican con el mundo que las rodea. Este proyecto no solo promueve la inclusión, sino que también empodera a las personas sordas al facilitarles el acceso a la información y a los servicios de manera más efectiva.`,
        name: 'Visitante en EXPOTEC 2023',
        job: 'Anónimo',
        image: {
          src: 'https://github.com/LESCOT-EXPO-2024/LESCOT-WEB/assets/144076399/871fb2fa-c4e1-4000-848b-2c8de122d9b4',
          alt: 'Anonimo Image',
        },
      },
      {
        testimonial: `LESCO significa Lengua de Señas Costarricense, eso significa que es parte de nuestra cultura y ustedes tienen que impulsar esa herramienta.`,
        name: 'Visitante en EXPOTEC 2023',
        job: 'Anónimo',
        image: {
          src: 'https://github.com/LESCOT-EXPO-2024/LESCOT-WEB/assets/144076399/871fb2fa-c4e1-4000-848b-2c8de122d9b4',
          alt: 'Anonimo Image',
        },
      },
      {
        testimonial: `Una innovación increible.`,
        name: 'Visitante en EXPOTEC 2023',
        job: 'Anónimo',
        image: {
          src: 'https://github.com/LESCOT-EXPO-2024/LESCOT-WEB/assets/144076399/871fb2fa-c4e1-4000-848b-2c8de122d9b4',
          alt: 'Anonimo Image',
        },
      },
      {
        testimonial: `Es una necesidad urgente en nuestra sociedad.`,
        name: 'Visitante en EXPOTEC 2023',
        job: 'Anónimo',
        image: {
          src: 'https://github.com/LESCOT-EXPO-2024/LESCOT-WEB/assets/144076399/871fb2fa-c4e1-4000-848b-2c8de122d9b4',
          alt: 'Anonimo Image',
        },
      },
      {
        testimonial: `LESCOT es un paso significativo hacia la inclusión total en Costa Rica. Este proyecto demuestra un compromiso genuino con la accesibilidad y la igualdad de oportunidades para todas las personas.`,
        name: 'Visitante en EXPOTEC 2023',
        job: 'Anónimo',
        image: {
          src: 'https://github.com/LESCOT-EXPO-2024/LESCOT-WEB/assets/144076399/871fb2fa-c4e1-4000-848b-2c8de122d9b4',
          alt: 'Anonimo Image',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="EXPOTEC 2023"
    subtitle="RECONOCIDOS POR LA EMPRESA EMERSON COMO MEJOR PROYECTO DE ELECTRÓNICA INDUSTRIAL DÉCIMO."
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explora los artículos más recientes en nuestro blog"
    information={`Sumergete y llenate de información sobre la cultura LESCO y nuestro proyecto.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
