---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
//import Features from '~/components/widgets/Features.astro';
//import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Steps from '~/components/widgets/Steps.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
//import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import Brands from '~/components/widgets/Brands.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Countdown from '~/components/widgets/Countdown.astro';

import antecedentes from '~/content/antecedentes';

const metadata = {
  title: 'LESCOT - LA WEB OFICIAL DEL PROYECTO 2024',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Visita nuestro GitHub',
        href: 'https://github.com/stevenalp207/VISIONLESCOT',
        target: '_blank',
        icon: 'tabler:brand-github',
      },
      { text: 'Conoce más', href: '#metas' },
    ]}
    image={{ src: '~/assets/images/patron_index.png', alt: 'LESCOT Hero Image' }}
  >
    <Fragment slot="title">
      El traductor LESCOT <span class="hidden xl:inline">vuelve en</span>
      <span class="text-accent highlight"> EXPOTEC 2024</span> + Nuevas novedades
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">LESCOT</span> pretende buscar una solución a las brechas de comunicación presentes entre
        personas sordas y oyentes.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600"></span>
      Utilizando el lenguaje de programación Python junto a un sistema combinado de machine learning.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />
  <Stats
  title= '¿Cuantos idiomas hablas?'
  stats={[
      {  amount: '33,5%', icon:'tabler:square-rounded-number-1'},
      {  amount: '53,8%', icon:'tabler:square-rounded-number-2' },
      {  amount: '10,1%', icon:'tabler:square-rounded-number-3' },
      {  amount: '1,9%', icon:'tabler:square-rounded-number-4' },
      {  amount: '0,6%', icon:'tabler:square-rounded-number-5' },
    ]}
  />

  <Stats
  title= '¿Es el LESCO uno de esos idiomas/lenguas?'

    stats={[
      { title: 'SI', amount: '11,4%' },
      { title: 'NO', amount: '88,6%' },
    ]}
  />
    <!-- Content Widget **************** -->
    <div id="antecedentes">
    {
    antecedentes.map((antecedente, index) => (
      <Content
      id="antecedentes"
      title={index === 0 ? 'Antecedentes' : ''}
      subtitle={index === 0 ? 'Descrubre algunos de los otros traductores de señas que existen en el mundo.' : ''}
      isReversed
      isAfterContent={index > 0 == true}
      items={[
        {
          icon: 'tabler:arrow-badge-right-filled',
          title: 'Descripción:',
          description: antecedente.descripcion,
        },
      ]}
      image={{
        src: antecedente.imageSrc,
        alt: antecedente.imageAlt,
      }}
      callToAction={{
        target: '_blank',
        text: 'Visita a ' + antecedente.titulo,
        icon: 'tabler:chevron-right',
        href: antecedente.link,
      }}
    >
      <Fragment slot="content">
        <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
          {antecedente.titulo} <br /><span class="text-2xl">{antecedente.subtitulo}</span>
        </h3>
      </Fragment>

      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      </Fragment>
    </Content>
    ))
    }
  </div>

  <Steps2
    id="metas"
    title="Nuestras metas"
    subtitle="Proponer una solución a las brechas de comunicación en la vida cotidiana de las personas con discapacidad auditiva con el desarollo de un “traductor” de LESCO (Lenguaje de Señas Costarricense)."
    isReversed={true}
    callToAction={{
      text: 'Conoce más de nosotros',
      href: '/equipo',
    }}
    items={[
      {
        title: 'Analizar',
        description:
          'las brechas de comunicación entre sordos y oyentes en la vida cotidiana identificando los factores que impiden una comunicación efectiva entre las personas mediante la creación de un formulario.',
        icon: 'tabler:chart-histogram',
      },
      {
        title: 'Almacenar',
        description:
          'una base de datos que contenga las señas para el machine learning y su correcto reconocimiento e interpretación a texto.',
        icon: 'tabler:folders',
      },
      {
        title: 'Desarrollar',
        description:
          'un algoritmo de reconocimiento de gestos de LESCO preciso y confiable, que permita al “traductor” servir como interprete dando las señas con precisión y generar una traducción coherente.',
        icon: 'tabler:brand-python',
      },
      {
        title: 'Implementar',
        description:
          'el módulo LESCOT en los diferentes puntos de interes o contacto de manera que pueda extenderse hacia el publico dirigido.',
        icon: 'tabler:certificate-2',
      },
    ]}
  />
  <Features3
    id="descripcion general"
    title="Descripción general"
    subtitle="LESCOT pretende buscar una solución a las brechas de comunicación presentes entre personas sordas y oyentes, mediante la adaptabilidad de un “traductor” de LESCO utilizando el lenguaje de programación Python junto a un sistema combinado de visión artificial, facilitando las interacciones entre personas sordas y oyentes, además de apoyar la Ley No. 9822."
    tagline="Solución a la inclusividad"
    image={{
      src: '~/assets/images/BLOG3.png',
      alt: 'LESCOT Image',
    }}
  />
  
    <!-- Steps Widget ****************** -->
    <Steps
    title="Conoce nuestro módulo LESCOT"
    items={[
      {
        title: 'Pantalla interactiva',
        description:
          '¡Utiliza la pantalla táctil de nuestro módulo para explorar! Puedes ver las señas y su traducción en tiempo real.',
        icon: 'tabler:screen-share',
      },
      {
        title: 'Cámara',
        description:
          "Gracias a la cámara del módulo LESCOT, tus señas serán captadas en tiempo real.",
        icon: 'tabler:camera',
      },
      {
        title: 'Sistema de sonido',
        description:
          '¿Te da pereza leer? No te preocupes, nuestro módulo LESCOT cuenta con un sistema de sonido que te ayudará a entender las señas.',
        icon: 'tabler:volume',
      },
      {
        title: '¡Pruébalo!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://github.com/LESCOT-EXPO-2024/LESCOT-WEB/assets/144076399/00a22f10-32da-49b3-9f79-1b4857a941c1',
      alt:'Imagen módulo LESCOT',
    }}
  />
      <!-- Steps Widget ****************** -->
      <Steps
      title="JETSON ORIN NANO"
      isReversed
      items={[
        {
          title: 'Rendimiento de la IA',
          description:
            '40 FLOPS (cantidad de operaciones de punto flotante por segundo). Es una medida de la capacidad de la unidad para realizar cálculos necesarios para ejecutar algoritmos de IA.',
          icon: 'tabler:binary',
        },
        {
          title: 'Unidad de Procesamiento Gráfico y Núcleo Tensor',
          description:
            "1024-core NVIDIA Ampere architecture GPU with 32 Tensor Cores; dedicada ampliamente a tareas de inteligencia artificial y redes neuronales debido a su capacidad para realizar cálculos en paralelo.",
          icon: 'tabler:cpu',
        },
        {
          title: 'Frecuencia Máxima de la GPU',
          description:
            '625MHz. Es la velocidad máxima a la que puede operar la GPU, medida en GHz (gigahercios).',
          icon: 'tabler:rss',
        },
        {
          title: '¡Otros datos!',
          description: '6-core Arm® Cortex®-A78AE v8.2 64-bit 1.5 GHz / 8GB LPDDR(Low-Power DDR) / Video encode de 1080p30 / CSI Camera	/ Power 7W - 15W',
          icon: 'tabler:bolt',
        },
      ]}
      image={{
        src: 'https://cdn0637.cdn4s.com/media/jetson%20minh%20%C4%91%E1%BB%A9c/nvidia%20jetson%20orin%20nano%20developer%20kit/nvidia-jetson-orin-nano-developer-kit-details-mlab-com-vn.jpg',
        alt:'Imagen JETSON ORIN',
      }}
    />

  <!-- Brands Widget ****************** -->
  <Brands
    title="Patrocinadores y Colaboladores"
    subtitle="Agradecemos a cada uno de ellos por el apoyo continuo a LESCOT."
    icons={[]}
    images={[
      {
        //src: 'https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_1280.png',
        alt: 'Paypal',
      }, //
      {
        //src: 'https://cdn.pixabay.com/photo/2021/12/06/13/48/visa-6850402_1280.png',
        alt: 'Visa',
      },
      {
        //src: 'https://cdn.pixabay.com/photo/2013/10/01/10/29/ebay-189064_1280.png',
        alt: 'Ebay',
      },

      {
        //src: 'https://cdn.pixabay.com/photo/2015/04/13/17/45/icon-720944_1280.png',
        alt: 'Youtube',
      },
      {
        //src: 'https://cdn.pixabay.com/photo/2013/02/12/09/07/microsoft-80658_1280.png',
        alt: 'Microsoft',
      },
      {
        //src: 'https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png',
        alt: 'Node JS',
      },
      {
        //src: 'https://cdn.pixabay.com/photo/2015/10/31/12/54/google-1015751_1280.png',
        alt: 'Google',
      },
      {
        //src: 'https://cdn.pixabay.com/photo/2021/12/06/13/45/meta-6850393_1280.png',
        alt: 'Meta',
      },
      {
        //src: 'https://cdn.pixabay.com/photo/2013/01/29/22/53/yahoo-76684_1280.png',
        alt: 'Yahoo',
      },
    ]}
  />

  <!-- Features Widget *************** 
    <Features
    id="features"
    tagline="Features"
    title="What you get with AstroWind"
    subtitle="One of the most professional and comprehensive templates currently on the market. Most starred & forked Astro theme in 2022."
    items={[
      {
        title: 'Astro + Tailwind CSS Integration',
        description:
          'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Ready-to-use Components',
        description:
          'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
        icon: 'tabler:components',
      },
      {
        title: 'Best Practices',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Excellent Page Speed',
        description:
          'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Open to new ideas and contributions',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bulb',
      },
    ]}
  />-->

  <!-- Features2 Widget ************** 

  <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:electronics',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>-->
  <Countdown 
    title="EXPOTEC 2024"
    subtitle="Estamos trabajando, solo espera a EXPOTEC 2024..."
    tagline="31/10/2024"
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="¡Encuentra más contenido en nuestro blog!"
    information={`En este blog podras explorar la información de nuestro proyecto, ademas de conocer la increible cultura LESCO, que forma parte de Costa Rica.
                `}
  />

  <!-- FAQs Widget ******************* 

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />-->

  <!-- Stats Widget ****************** 

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />-->

  <!-- CallToAction Widget *********** -->

  <CallToAction>
    <Fragment slot="title">EXPOTEC 2023</Fragment>

    <Fragment slot="subtitle" class="shadow-box">
      RECONOCIDOS POR LA EMPRESA EMERSON COMO MEJOR PROYECTO DE ELECTRÓNICA INDUSTRIAL DÉCIMO.
    </Fragment>
  </CallToAction>
</Layout>
