---
import Layout from "~/layouts/PageLayout.astro";
import Hero from "~/components/widgets/Hero.astro";
import Note from "~/components/widgets/Note.astro";
import Features3 from "~/components/widgets/Features3.astro";
import Steps from "~/components/widgets/Steps.astro";
import Steps2 from "~/components/widgets/Steps2.astro";
import Content from "~/components/widgets/Content.astro";
import BlogLatestPosts from "~/components/widgets/BlogLatestPosts.astro";
import Stats from "~/components/widgets/Stats.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import Countdown from "~/components/widgets/Countdown.astro";
import Fusion from "~/components/widgets/fusion.astro";
import antecedentes from "~/content/antecedentes";


const metadata = {
    title: "LESCOT - LA WEB OFICIAL DEL PROYECTO 2024",
    ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Visita nuestro GitHub',
        href: 'https://github.com/stevenalp207/VISIONLESCOT',
        target: '_blank',
        icon: 'tabler:brand-github',
      },
      { text: 'Conoce más', href: '#descripcion-general' },
    ]}
    image={{ src: '~/assets/images/patron_index.png', alt: 'LESCOT Hero Image' }}
  >
    <Fragment slot="title">
      El traductor LESCOT <span class="hidden xl:inline">vuelve en</span>
      <span class="text-accent highlight"> EXPOTEC 2024</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">LESCOT</span> es una iniciativa de cuatro estudiantes del CTP Don Bosco para desarrollar traductores de LESCO en Costa Rica. </span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->
  <Note />

  <Features3
  id="descripcion-general"
  title="Descripción general"
  subtitle="LESCOT busca reducir las barreras de comunicación entre personas sordas y oyentes mediante el desarrollo de un guante capaz de reconocer señas de la Lengua de Señas Costarricense (LESCO). Este dispositivo no solo facilita la interacción entre personas sordas y oyentes, sino que también apoya el cumplimiento de la Ley No. 9822 y entre otras, que promueve la igualdad de derechos y la inclusión de las personas con discapacidad en Costa Rica."
  tagline="Solución a la inclusividad"
  image={{
    src: 'https://nvidianews.nvidia.com/_gallery/get_file/?file_id=6189e835b3aed353997db7f8',
    alt: 'LESCOT Image',
  }}
/>
<!-- METAS ******************* -->
  <Steps2
    id="metas"
    title="Nuestras metas"
    subtitle="Proponer una solución a las brechas de comunicación en la vida cotidiana de las personas con discapacidad auditiva con el desarrollo de un “traductor” de LESCO (Lengua de Señas Costarricense)."
    isReversed={true}
    callToAction={{
      text: 'Conoce más de nosotros',
      href: '/equipo',
    }}
    items={[
      {
        title: 'Analizar',
        description:
          'las brechas de comunicación entre sordos y oyentes en la vida cotidiana identificando los factores que impiden una comunicación efectiva entre estas personas mediante la creación de un formulario.',
        icon: 'tabler:chart-histogram',
      },
      {
        title: 'Crear',
        description:
          'una base de datos con las coordenadas respectivas de las señas mediante el uso de acelerómetros.',
        icon: 'tabler:folders',
      },
      {
        title: 'Desarrollar',
        description:
          'Un guante de reconocimiento preciso y confiable de señas LESCO (Lengua de Señas Costarricense), permitiendo al dispositivo desempeñarse como interprete, brindando señas fieles y generando traducciones coherentes.',
        icon: 'tabler:hand-click',
      },
      {
        title: 'Implementar',
        description:
          'El módulo LESCOT en los diferentes puntos de interes o contacto de manera que pueda extenderse hacia el publico dirigido.',
        icon: 'tabler:certificate-2',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->
  <Stats
  id="forms"
  title= 'Google Forms'
  subtitle= '¿Cuantos idiomas hablas?'
  stats={[
      {  amount: '33,5%', icon:'tabler:square-rounded-number-1'},
      {  amount: '53,8%', icon:'tabler:square-rounded-number-2' },
      {  amount: '10,1%', icon:'tabler:square-rounded-number-3' },
      {  amount: '1,9%', icon:'tabler:square-rounded-number-4' },
      {  amount: '0,6%', icon:'tabler:square-rounded-number-5' },
    ]}
  />

  <Stats
  title= 'Google Forms'
  subtitle= '¿Es el LESCO uno de esos idiomas/lenguas?'
    stats={[
      { title: 'SI', amount: '11,4%' },
      { title: 'NO', amount: '88,6%' },
    ]}
  />

  <!-- antecedentes Widget **************** -->
  <div id="antecedentes">
    {
    antecedentes.map((antecedente, index) => (
      <Content
      id="antecedentes"
      title={index === 0 ? 'Antecedentes' : ''}
      subtitle={index === 0 ? 'Descrubre algunos de los otros traductores de señas que existen en el mundo.' : ''}
      isReversed
      isAfterContent={index > 0 == true}
      items={[
        {
          icon: 'tabler:arrow-badge-right-filled',
          title: 'Descripción:',
          description: antecedente.descripcion,
        },
      ]}
      image={{
        src: antecedente.imageSrc,
        alt: antecedente.imageAlt,
      }}
      callToAction={{
        target: '_blank',
        text: 'Visita a ' + antecedente.titulo,
        icon: 'tabler:chevron-right',
        href: antecedente.link,
      }}
    >
      <Fragment slot="content">
        <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
          {antecedente.titulo} <br /><span class="text-2xl">{antecedente.subtitulo}</span>
        </h3>
      </Fragment>

      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      </Fragment>
    </Content>
    ))
    }
  </div>

  
    <!-- Steps Widget ****************** -->
    <Steps
    title="Módulo LESCOT"
    items={[
      {
        title: 'Pantalla interactiva',
        description:
          '¡Utiliza la pantalla táctil de nuestro módulo para explorar! Puedes ver las señas y su traducción en tiempo real.',
        icon: 'tabler:screen-share',
      },
      {
        title: 'Cámara',
        description:
          "Gracias a la cámara del módulo LESCOT, tus señas serán captadas en tiempo real.",
        icon: 'tabler:camera',
      },
      {
        title: 'Sistema de sonido',
        description:
          '¿Te da pereza leer? No te preocupes, nuestro módulo LESCOT cuenta con un sistema de sonido que te ayudará a entender las señas.',
        icon: 'tabler:volume',
      },
      {
        title: '¡Pruébalo!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://github.com/LESCOT-EXPO-2024/LESCOT-WEB/assets/144076399/00a22f10-32da-49b3-9f79-1b4857a941c1',
      alt:'Imagen módulo LESCOT',
    }}
  />
    <Fusion
    id="fusion"
    title="Modelo 3D"
    tagline="Creado en FUSION 360"
    ></Fusion>
    
      <!-- Steps Widget ****************** -->
      <Steps
      title="NUESTRO CEREBRO"
      isReversed
      items={[
        {
          title: 'QT PY ESP32-S3',
          description:
            'Este es un microcontrolador que posee Wi-Fi y Bluetooth. Además permite conectar dispositivos de forma inalámbrica y cuenta con características específicas como la capacidad de medir distancias, y su compatibilidad con el sistema I2C para conectar otros sensores. También cuenta con un botón de reinicio y un LED RGB.',
          icon: 'tabler:cpu-2',
        },
        {
          title: 'IdeaBoard ESP32-WROOM-32E',
          description:
            "La IdeaBoard es una placa de desarrollo pequeña, parecida a la Raspberry Pi, pensada para aprender sobre electrónica y programación. Con ella, se logra hacer proyectos de sensores, robots, o automatización. Es ideal para estudiantes o principiantes en tecnología que quieren experimentar y crear dispositivos inteligentes de forma sencilla.",
          icon: 'tabler:cpu',
        },
        {
          title: 'Raspberry Pi 2 Model B',
          description:
            'La Raspberry Pi 2 es un tipo de computadora que tiene un procesador de cuatro núcleos y 1 GB de RAM. Viene con varias conexiones como:  puertos USB y HDMI para video, además de un conector para auriculares. También tiene acceso a Internet, soporte para cámaras y pantallas táctiles, y utiliza una tarjeta micro SD para almacenar datos.',
          icon: 'tabler:device-desktop-analytics',
        },
      ]}
      image={{
        src: 'https://github.com/user-attachments/assets/427b2df5-3b9f-4aa7-bf32-89763dbb21bc',
        alt:'Imagen RASPBERRY PI 2',
      }}
    />
    <Steps
    title="COMPONENTES"
    items={[
      {
        title: 'ACELETROMETRO MSA311',
        description:
          'Este es un acelerómetro que mide la aceleración en tres direcciones (x, y, z). El cual funciona con el protocolo I2C. Además, puede registrar datos a diferentes frecuencias, lo que significa que puede captar movimientos lentos y rápidos.',
        icon: 'tabler:hand-stop',
      },
      {
        title: 'MUX PCA9548A',
        description:
          "Este multiplexor es un dispositivo que permite conectar hasta ocho dispositivos diferentes usando el mismo cable I2C con ocho interruptores capaces de activarse o desactivarse, lo cual ayuda a manejar la comunicación entre dispositivos sin conflictos con un registro programable.",
        icon: 'tabler:box-multiple-8',
      },
      {
        title: 'Lenguage de programación', 
        description:
          'Python es un lenguaje de programación fácil de aprender y muy popular. Con Python le logra crear desde programas simples hasta proyectos complejos, como aplicaciones web, juegos, o incluso manejar dispositivos y realizar automatizaciones.',
        icon: 'tabler:brand-python',
      },
    ]}
    image={{
      src: 'https://github.com/user-attachments/assets/652d0fa9-be21-46c1-830e-789f7154a0f3',
      alt:'Imagen JETSON ORIN',
    }}
  />
  <!-- Brands Widget ****************** 
  <Brands
    title="Patrocinadores y Colaboladores"
    subtitle="Agradecemos a cada uno de ellos por el apoyo continuo a LESCOT."
    icons={[]}
    images={[
      {
        //src: 'https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_1280.png',
        alt: 'Paypal',
      }, //
      {
        //src: 'https://cdn.pixabay.com/photo/2021/12/06/13/48/visa-6850402_1280.png',
        alt: 'Visa',
      },
      {
        //src: 'https://cdn.pixabay.com/photo/2013/10/01/10/29/ebay-189064_1280.png',
        alt: 'Ebay',
      },

      {
        //src: 'https://cdn.pixabay.com/photo/2015/04/13/17/45/icon-720944_1280.png',
        alt: 'Youtube',
      },
      {
        //src: 'https://cdn.pixabay.com/photo/2013/02/12/09/07/microsoft-80658_1280.png',
        alt: 'Microsoft',
      },
      {
        //src: 'https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png',
        alt: 'Node JS',
      },
      {
        //src: 'https://cdn.pixabay.com/photo/2015/10/31/12/54/google-1015751_1280.png',
        alt: 'Google',
      },
      {
        //src: 'https://cdn.pixabay.com/photo/2021/12/06/13/45/meta-6850393_1280.png',
        alt: 'Meta',
      },
      {
        //src: 'https://cdn.pixabay.com/photo/2013/01/29/22/53/yahoo-76684_1280.png',
        alt: 'Yahoo',
      },
    ]}
  />-->

  <Countdown 
    title="EXPOTEC 2024"
    subtitle="Estamos trabajando, solo espera a EXPOTEC 2024..."
    tagline="31/10/2024"
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="¡Encuentra más contenido en nuestro blog!"
    information={`En este blog podras explorar la información de nuestro proyecto, ademas de conocer la increible cultura LESCO, que forma parte de Costa Rica.`}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction>
    <Fragment slot="title">EXPOTEC 2023</Fragment>

    <Fragment slot="subtitle" class="shadow-box">
      RECONOCIDOS POR LA EMPRESA EMERSON COMO MEJOR PROYECTO DE ELECTRÓNICA INDUSTRIAL DÉCIMO.
    </Fragment>
  </CallToAction>
</Layout>
