---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import { Icon } from 'astro-icon/components';

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>

<Layout metadata={metadata}>
  <slot name="header">
    <Header {...headerData} isSticky showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <div class="fixed bottom-8 right-8 z-50">
    <a href="#top" class="scroll-to-top text-primary">
      <Icon name="tabler:square-arrow-up-filled" class="w-14 h-14" />
    </a>
<style>    
  .scroll-to-top {
    display: none; /* Ocultar la flecha por defecto */
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: opacity 0.3s ease-in-out;
    animation: slideInFromRight 0.5s ease forwards;
  }

  @keyframes slideInFromRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .scroll-to-top:hover {
    opacity: 0.7; /* Cambiar la opacidad al hacer hover */
  }

  .scroll-to-top.hide {
    animation: slideOutToTop 0.5s ease forwards;
  }

  @keyframes slideOutToTop {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
</style>
  <script>
    document.addEventListener('scroll', function() {
      var scrollPosition = window.scrollY;

      if (scrollPosition > 200) {
        const scrollToTopButton = document.querySelector('.scroll-to-top') as HTMLElement | null;
        if (scrollToTopButton) {
          scrollToTopButton.style.display = 'block';
        }
      } else {
        const scrollToTopButton = document.querySelector('.scroll-to-top') as HTMLElement | null;
        if (scrollToTopButton) {
          scrollToTopButton.style.display = 'none';
        }
        if (scrollToTopButton) {
          scrollToTopButton.classList.remove('hide'); // Eliminar la clase 'hide' al ocultar la flecha
        }
      }
    });

    document.querySelector('.scroll-to-top')?.addEventListener('click', function() {
      this.classList.add('hide');
    });
  </script>

  </div>
  <slot name="footer">
    <Footer {...footerData} links={[]} />
  </slot>
</Layout>
