---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import { Icon } from 'astro-icon/components';

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>

<Layout metadata={metadata}>
  <slot name="header">
    <Header {...headerData} isSticky showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <div class="fixed bottom-8 right-8 z-50">
    <a href="#top" class="text-primary">
      <Icon name="tabler:square-arrow-up-filled" class="w-14 h-14" />
    </a>
  </div>
  <slot name="footer">
    <Footer {...footerData} links={[]} />
  </slot>
</Layout>
